@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  margin: auto;
  background: linear-gradient(135deg, #fff 0%, #d0e8eb 100%);
}
